body{
    font-family: 'Bangers', cursive;
}

/* nav bar */

nav{
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.logo{
    font-size: 25px;
    margin-left: 35px;
}

.logo span{
    color: palevioletred;
}

.logo img{
    height: 50px;
}

nav .nav-item .nav-link.active{
    color: palevioletred;
}

nav .nav-item .nav-link:hover{
    color: palevioletred;
}

nav .social-nav h1{
    text-align: center;
    color: palevioletred;
}

nav .social-nav{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

nav .social-nav ul {
    list-style-type: none; 
    display: inline-block; /* Display list items as inline elements */
  }

  nav .social-nav li{
    display: inline-block;
  }

nav .social-nav li a {
    display: block;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }

nav .social-nav li a:hover{
    color: palevioletred;
    transition: ease .5s;
}

/* home banner*/

.home-banner{
    position: relative;
    height: 700px; /* Set a fixed height for the home-banner section */
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    background-color: black;
}


@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}


.home-us{
    background-color: palevioletred;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-us .heading h2{
    text-align: center;
    color: black;
    font-size: 60px;
    text-shadow: 2px 2px 4px white, -2px -2px 4px white;
}

.home-us .card{
    text-align: center;
    height: 470px;
    margin: 10px;
}

.home-us .card-title{
    font-size: 30px;
}

.home-us .card-text{
    font-size: 20px;
}

.home-us .card .card-img-top{
    height: 250px;
}

.home-social{
    background-color: #000000;
}

.home-social .social-text{
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
}

.social{
    text-align: center;
}

.social ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline-block; /* Display list items as inline elements */
  }
  
  .social li {
    display: inline-block; /* Display list items as inline elements */
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .social li a {
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
  }
  
  .social li a:hover {
    color: palevioletred;
    text-shadow: 2px 2px 4px white, -2px -2px 4px white;
    transition: ease .5s;
  }

  .social li a i {
    font-size: 50px; /* Set the font size to 2 times the default size */
  }

  @media only screen and (max-width: 1199px){
    .social li {
        margin-right: 0;
        margin-left: 0;
      }
  }

.home-menu{
    background-color: white;
}

.home-menu .menu-head h1{
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    text-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
}

.home-menu .glazed{
    text-align: center;
    margin-top: 20px;
}

.home-menu .glazed h2{
    font-size: 40px;
}

.home-menu .glazed p{
    font-size: 20px;
}

.glazed-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 992px){
    .home-menu .glazed h2{
        font-size: 30px;
    }
    
    .home-menu .glazed p{
        font-size: 15px;
    }

    .glazed-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

  .home-menu .choco{
    text-align: center;
    margin-top: 20px;
}

.home-menu .choco h2{
    font-size: 40px;
}

.home-menu .choco p{
    font-size: 20px;
}

.choco-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }


@media only screen and (max-width: 992px){
    .home-menu .choco h2{
        font-size: 30px;
    }
    
    .home-menu .choco p{
        font-size: 15px;
    }

    .choco-img img {
        width: 300px;
        height: 200px;
        margin-right: 50px;
      }    
}

@media only screen and (max-width: 767px){
    .home-menu .choco h2{
        font-size: 30px;
    }
    
    .home-menu .choco p{
        font-size: 15px;
    }

    .choco-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .straw {
    text-align: center;
    margin-top: 20px;
}

.home-menu .straw h2{
    font-size: 40px;
}

.home-menu .straw p{
    font-size: 20px;
}

.straw-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 992px){
    .home-menu .straw h2{
        font-size: 30px;
    }
    
    .home-menu .straw p{
        font-size: 15px;
    }

    .straw-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .boston{
    text-align: center;
    margin-top: 20px;
}

.home-menu .boston h2{
    font-size: 40px;
}

.home-menu .boston p{
    font-size: 20px;
}

.boston-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }


@media only screen and (max-width: 992px){
    .home-menu .boston h2{
        font-size: 30px;
    }
    
    .home-menu .boston p{
        font-size: 15px;
    }

    .boston-img img {
        width: 300px;
        height: 200px;
        margin-right: 50px;
      }    
}

@media only screen and (max-width: 767px){
    .home-menu .boston h2{
        font-size: 30px;
    }
    
    .home-menu .boston p{
        font-size: 15px;
    }

    .boston-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .card{
    text-align: center;
    border: none;
}

.home-menu .card .card-img-top{
    border-top-right-radius: 60%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: 30px;
}

.home-menu .card-title{
    font-size: 40px;
}

.home-menu .card-text{
    font-size: 20px;
}

.home-now{
    background-image: url('images/backgrounddonut.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home-now .card{
    margin-top: 40px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
}

.home-now .card-text{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px palevioletred;
}

.home-now .btn{
    font-size: 50px;
    background-color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px white;
    border-radius: 30%;
}

.home-now .btn:hover{
    background-color: white;
    color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px palevioletred;
    transition: ease .5s;
}

.home-footer{
    background-color: black;
}

.home-footer .description{
    color: white;
    margin-top: 50px;
    text-align: center;
}

.social-footer{
    text-align: center;
    margin-top: 50px;
}

.social-footer ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline-block; /* Display list items as inline elements */
  }
  
  .social-footer li {
    display: inline-block; /* Display list items as inline elements */
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .social-footer li a {
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
  }
  
  .social-footer li a:hover {
    color: palevioletred;
    text-shadow: 2px 2px 4px white, -2px -2px 4px white;
    transition: ease .5s;
  }

  .social-footer li a i {
    font-size: 50px; /* Set the font size to 2 times the default size */
  }

  .home-footer .copyright{
    text-align: center;
    color: white;
  }



/*   font-family: 'Bangers', cursive;   */
