body{
    font-family: 'Bangers', cursive;
}

/* nav bar */


.logo{
    font-size: 25px;
    margin-left: 35px;
}

.logo span{
    color: palevioletred;
}

.logo img{
    height: 50px;
}

nav .btn-primary{
    margin-left: 100px;
    font-size: 30px;
    background-color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px white;
    border-radius: 30%;
    box-shadow: 2px 2px 4px black, -2px -2px 4px black;
}

nav .btn-primary:hover{
    background-color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px palevioletred;
    border-radius: 30%;
    box-shadow: 2px 2px 4px black, -2px -2px 4px black;
    color: palevioletred;
    cursor: url(images/DL4.png), pointer;
    transition: ease .5s;
}

nav .nav-item .nav-link.active{
    color: palevioletred;
}

nav .nav-item .nav-link{
    color: black;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px white;
}

nav .nav-item .nav-link:active {
    color: white;
  }

nav .nav-item .nav-link:hover{
    color: palevioletred;
    transition: ease .5s;
    text-shadow: 2px 2px 4px black;
    transition: ease .5s;
}

nav .social-nav h1{
    text-align: center;
    color: palevioletred;
    text-shadow:2px 2px 4px black;
}

nav .social-nav{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

nav .social-nav ul {
    list-style-type: none; 
    display: inline-block; /* Display list items as inline elements */
  }

  nav .social-nav li{
    display: inline-block;
  }

nav .social-nav li a {
    display: block;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }

nav .social-nav li a:hover{
    color: palevioletred;
    transition: ease .5s;
    text-shadow: 2px 2px 4px black;
}

/* home banner*/

.home-banner{
    width: 100%;
    height: 600px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px white, -2px -2px 4px white;
}

.home-banner h1{
    margin-top: 200px;
    font-size: 90px;
    font-weight: 800;
}

.home-banner span{
    color: palevioletred;
}

.home-banner button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    font-size: 25px;
    background-color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px white;
    border-radius: 30%;
    color: white;
    box-shadow: 2px 2px 4px white, -2px -2px 4px white;
}

.home-banner button:hover{
    background-color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px palevioletred;
    color: palevioletred;
    transition: .5s;
    cursor: url(images/DL4.png), pointer;
    transition: ease .5s;
}

.home-banner video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
}


.home-us{
    background-color: palevioletred;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('images/joshua-coleman-Cj8h7-b47ko-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.home-us .heading h2{
    text-align: center;
    color: black;
    font-size: 60px;
    text-shadow: 2px 2px 4px white;
}

.home-us .card{
    text-align: center;
    height: 470px;
    margin: 20px;
    box-shadow: 10px 10px 20px black;
}

.home-us .card-title{
    font-size: 30px;
}

.home-us .card-text{
    font-size: 20px;
}

.home-us .card .card-img-top{
    height: 250px;
}

.home-social{
    background: linear-gradient(to bottom,  palevioletred, black, black, black, black);
}


.home-social .social-text{
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 2px 2px 4px palevioletred;
}

.home-social .social{
    text-align: center;
}

.home-social .social ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: inline-block; /* Display list items as inline elements */
  }
  
  .home-social .social li {
    display: inline-block; /* Display list items as inline elements */
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .home-social .social li a {
    display: block;
    padding: 10px;
    color: palevioletred;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px black;
  }
  
  .home-social .social li a:hover {
    color: palevioletred;
    text-shadow: 2px 2px 4px white;
    transition: ease .5s;
  }

.home-social .social li a i {
    font-size: 50px; /* Set the font size to 2 times the default size */
  }

  @media only screen and (max-width: 1199px){
    .home-social .social li {
        margin-right: 0;
        margin-left: 0;
      }
  }

.home-menu{
    background-color: black;
    text-shadow: 2px 2px 4px palevioletred;
    color: white;
}

.home-menu .menu-head h1{
    text-align: center;
    margin-top: 20px;
    font-size: 100px;
    text-shadow: 2px 2px 4px palevioletred;
}

.home-menu .glazed{
    text-align: center;
    margin-top: 20px;
}

.home-menu .glazed h2{
    font-size: 40px;
}

.home-menu .glazed p{
    font-size: 20px;
}

.glazed-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 992px){
    .home-menu .glazed h2{
        font-size: 30px;
    }
    
    .home-menu .glazed p{
        font-size: 15px;
    }

    .glazed-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

  .home-menu .choco{
    text-align: center;
    margin-top: 20px;
}

.home-menu .choco h2{
    font-size: 40px;
}

.home-menu .choco p{
    font-size: 20px;
}

.choco-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }


@media only screen and (max-width: 992px){
    .home-menu .choco h2{
        font-size: 30px;
    }
    
    .home-menu .choco p{
        font-size: 15px;
    }

    .choco-img img {
        width: 300px;
        height: 200px;
        margin-right: 50px;
      }    
}

@media only screen and (max-width: 767px){
    .home-menu .choco h2{
        font-size: 30px;
    }
    
    .home-menu .choco p{
        font-size: 15px;
    }

    .choco-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .straw {
    text-align: center;
    margin-top: 20px;
}

.home-menu .straw h2{
    font-size: 40px;
}

.home-menu .straw p{
    font-size: 20px;
}

.straw-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }

  @media only screen and (max-width: 992px){
    .home-menu .straw h2{
        font-size: 30px;
    }
    
    .home-menu .straw p{
        font-size: 15px;
    }

    .straw-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .boston{
    text-align: center;
    margin-top: 20px;
}

.home-menu .boston h2{
    font-size: 40px;
}

.home-menu .boston p{
    font-size: 20px;
}

.boston-img img {
    width: 500px;
    height: 400px;
    margin-left: 50px;
  }


@media only screen and (max-width: 992px){
    .home-menu .boston h2{
        font-size: 30px;
    }
    
    .home-menu .boston p{
        font-size: 15px;
    }

    .boston-img img {
        width: 300px;
        height: 200px;
        margin-right: 50px;
      }    
}

@media only screen and (max-width: 767px){
    .home-menu .boston h2{
        font-size: 30px;
    }
    
    .home-menu .boston p{
        font-size: 15px;
    }

    .boston-img img {
        width: 300px;
        height: 200px;
        margin-left: 5px;
      }    
}

.home-menu .card{
    text-align: center;
    border: none;
    color: white;
    background-color: black;
}

.home-menu .card .card-img-top{
    border-top-right-radius: 60%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin-top: 30px;
    height: 450px;
    width: auto;
}

.home-menu .card-title{
    font-size: 40px;
}

.home-menu .card-text{
    font-size: 20px;
}

@media only screen and (max-width: 767px){
    .home-menu .card .card-img-top{
        height: 300px;
        width: auto;
    }
    }
    

.home-now{
    background-image: url('images/backgrounddonut.jpg');
    background-size: cover;
    background-position: center;
}

.home-now .card{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
}

.home-now .card-text{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px palevioletred;
}

.home-now .btn{
    font-size: 50px;
    background-color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px white;
    border-radius: 30%;
    box-shadow: 2px 2px 4px white, -2px -2px 4px white;
}

.home-now .btn:hover{
    background-color: white;
    color: palevioletred;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px black;
    border: solid 2px palevioletred;
    transition: ease .5s;
    cursor: url(images/DL4.png), pointer;
    box-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
    transition: ease .5s;
}

.home-footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-footer h4{
    color: palevioletred;
    margin-top: 30px;
    font-size: 40px;
}

#footer-about {
    flex: 1;
    text-align: center;
    margin-top: 10px;
  }
  
  #footer-contact {
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    border-left: 4px dotted palevioletred;
    border-right: 4px dotted palevioletred;
  }
  
  #footer-social {
    flex: 1;
    text-align: center;
    margin-top: 10px;
  }

  .social-footer {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.social-footer ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .social-footer li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
  }
  
  .social-footer li a {
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px palevioletred, -2px -2px 4px palevioletred;
  }
  
  .social-footer li a:hover {
    color: palevioletred;
    text-shadow: 2px 2px 4px white, -2px -2px 4px white;
    transition: ease .5s;
  }

  .social-footer li a i {
    font-size: 20px; /* Set the font size to 2 times the default size */
  }

  .home-footer .copyright{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 50px;
  }

@media only screen and (max-width: 441px){
    #footer-contact {
        border-right: none;
        border-left: 2px dotted palevioletred;
        margin-left: 10px;
      }

      #footer-about{
        margin-right: 10px;
      }
}

  @media only screen and (max-width: 992px){
    .social-footer li a i {
        font-size: 30px; /* Set the font size to 2 times the default size */
      }
      
      .social-footer li {
        margin-right: 10px;
        margin-left: 10px;
    }

    #footer-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
  }

#menu-body{
    background-color: black;
}

.menu-title{
    text-align: center;
    text-shadow: 2px 2px 4px white;
    color: black;
    background-image: url('images/joshua-coleman-Cj8h7-b47ko-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.menu-title h1{
    font-size: 100px;
}

.menu-featured{
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.menu-featured h1{
    text-shadow: 2px 2px 4px palevioletred;
}


.menu-standard{
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    color: white;
}

.menu-standard h1{
    text-shadow: 2px 2px 4px palevioletred;
}

.menu-featured .featured-header h1{
    text-align: center;
}

.menu-standard .standard-header h1{
    text-align: center;
}

.about-title{
    text-align: center;
    text-shadow: 2px 2px 4px white;
    color: black;
    background-image: url('images/joshua-coleman-Cj8h7-b47ko-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.about-title h1{
    font-size: 100px;
}






/*   font-family: 'Bangers', cursive;   */